<div class="grid-container">
    <app-square [white]="getBackgroundColor(this.boardRow, 0)" [gamePiece]="getSquarePiece(0)" />
    <app-square [white]="getBackgroundColor(this.boardRow, 1)" [gamePiece]="getSquarePiece(1)" />
    <app-square [white]="getBackgroundColor(this.boardRow, 2)" [gamePiece]="getSquarePiece(2)" />
    <app-square [white]="getBackgroundColor(this.boardRow, 3)" [gamePiece]="getSquarePiece(3)" />
    <app-square [white]="getBackgroundColor(this.boardRow, 4)" [gamePiece]="getSquarePiece(4)" />
    <app-square [white]="getBackgroundColor(this.boardRow, 5)" [gamePiece]="getSquarePiece(5)" />
    <app-square [white]="getBackgroundColor(this.boardRow, 6)" [gamePiece]="getSquarePiece(6)" />
    <app-square [white]="getBackgroundColor(this.boardRow, 7)" [gamePiece]="getSquarePiece(7)" />
</div>