.grid-container {
    display: grid;
    grid-template-columns: auto;
}

.chess-board {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.square {
    display: flex;
    justify-content: center;
    height: 80px;
    width: 80px;
    cursor: pointer;
    align-items: center;
    border: 1px solid black;
}

.piece {
    width: 70px;
}

.row {
    display: flex;
    flex-direction: row;
}

.dark {
    background-color: green;
}

.light {
    background-color: lightgray;
}

.safe-square {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    z-index: 100;
}

.selected-square {
    box-shadow: inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px, inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}