.wrapper {}

.game-vertical {
    display: grid;
    grid-template-columns: left;
    justify-content: center;
}

.footer {
    background-color: aquamarine;
}

.bg-less-dark {
    background-color: hsl(0, 4%, 82%);
}

.rotated {
    transform: rotate(180deg);
}