<div class="game-title">
    <pre>
                 __     __       ________                  
        | |     / /__  / /_     / ____/ /_  ___  __________
        | | /| / / _ \/ __ \   / /   / __ \/ _ \/ ___/ ___/
        | |/ |/ /  __/ /_/ /  / /___/ / / /  __(__  |__  ) 
        |__/|__/\___/_.___/   \____/_/ /_/\___/____/____/                          
    </pre>
</div>

<mat-toolbar>
    <button mat-button routerLink="/against-friend">
        Play against friend
    </button>

    <button mat-button routerLink="/against-computer">
        Play against computer
    </button>
</mat-toolbar>

<router-outlet></router-outlet>

<app-board>