<div class="game-title">
    <pre>
                 __     __       ________                  
        | |     / /__  / /_     / ____/ /_  ___  __________
        | | /| / / _ \/ __ \   / /   / __ \/ _ \/ ___/ ___/
        | |/ |/ /  __/ /_/ /  / /___/ / / /  __(__  |__  ) 
        |__/|__/\___/_.___/   \____/_/ /_/\___/____/____/                          
    </pre>
</div>

<mat-toolbar>
    <button mat-button class="start-local" routerLink="/against-friend" routerLinkActive="active">
        Play against friend
    </button>
    <span> ----- </span>
    <button mat-button class="start-computer" routerLink="/against-computer" routerLinkActive="active">
        Play against computer
    </button>
</mat-toolbar>


<router-outlet></router-outlet>