.power-bar {
    width: 30px;
    height: 640px;
    transition: background 1s ease;
    border-radius: .5rem;
}

.white-bar-percentage {
    background-color: lightgray;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.black-bar-percentage {
    background-color: green;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
}